/vendor/
/node_modules/
/public/storage
/public/hot
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.log
*.cache
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/public/storage
/frontend/node_modules/
/frontend/.env
/frontend/dist
/frontend/.cache 